<%= javascript_pack_tag 'game'%>

<section class="game">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mad Minute Math</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" ><%= button_to "Games", games_path, method: :get%></a>
        <a class="nav-link" ><%= button_to "Change Name", root_path, method: :get%></a>
        <a class="nav-link" ><%= button_to 'Try Again', game_events_path(@game.id), method: :post %></a>
        <% unless @game.id == 1 %>
          <a class="nav-link" ><%= button_to 'Previous Game', game_events_path(@game.id - 1), method: :post %></a>
        <% end %>
        <% unless @game.id == @last_game %>
          <a class="nav-link" ><%= button_to 'Next Game', game_events_path(@game.id + 1), method: :post %></a>
          <% end %>
      </div>
    </div>
  </nav>
  <div class="header">
    <p>Hello <strong><%=@event.player.name%></strong>, I built this Math game for you :)</p>
    <div class="timer">0 : 00</div>
  </div>
  <div
    data-event_id=<%=@event.id%>
    data-game_id=<%=@game.id%>
    class="gameEvent" style="visibility: none"
  >

    <%= render partial: 'event' %>

    <div class="highscores">
      <h1>Highscores</h1>
      <table>
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Game Time</th>
          </tr>
        </thead>

        <tbody>
          <% @highscores.each.with_index(1) do |highscore, index| %>
            <tr class="highscore_row">
              <td><%= index %></td>
              <td><%= highscore.player.name %></td>
              <td><%= "%02d:%02d" % [highscore.game_time / 60 % 60, highscore.game_time % 60] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
