<div class="card p-2 bd-highlight" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Game ID: <%= game.id %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Game Type: <%= game.game_type %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Level: <%= game.difficulty %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Col: <%= game.column_values %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Row: <%= game.row_values %></h6>
    <div class="card-body">
      <%= button_to 'Play Game', game_events_path(game.id) %>
    </div>
  </div>
</div>
