<div>
  <h3>Game ID: <%= game.id %></h3>
  <p>Game Type: <%= game.game_type %></p>
  <p>Column Values: <%= game.column_values %></p>
  <p>Row Values: <%= game.row_values %></p>
  <%= button_to 'Play Game', game_events_path(game.id) %>
</div>
