<h1>New Game Creation</h1>

<%= form_with model: @game, url: games_path, local: true do |form| %>
<p>
  <%= form.label :player_name %><br>
  <%= form.fields_for :player do |pl| %>
    <%= pl.text_field :name %>
  <% end %>
</p>

<p>
  <%= form.label :game_type %><br>
  <%= form.text_field :game_type, value: "Mulitplication" %>
</p>

<p>
  <%= form.submit "Start Game" %>
</p>
<% end %>
