<%= javascript_pack_tag 'game'%>

<section class="game">
  <div class="header">
    <h1>Mad Minute Math</h1>
    <p>Hello <strong><%=@player.name%></strong>, I built this Math game for you :)</p>
    <div class="timer">0 : 00</div>
  </div>
  <div 
    data-event_id=<%=@event.id%>
    data-game_id=<%=@game.id%>
    class="gameEvent" style="visibility: none"
  >
    <div class="button-menu">
      <div><%= button_to "New User", root_path, method: :get%></div>
      <div><%= button_to "Restart", @game, method: :get%></div>
      <%= form_with model: @game, method: :post, url: games_path, local: true do |form| %>
        <%= form.fields_for @player do |p| %>
          <%= p.hidden_field :name, value: @player.name %>
        <% end %>
        <%= form.hidden_field :game_type, value: @game.game_type %>
        <div><%= form.submit "Create New Game" %></div>
      <% end %>
    </div>

    <div class="grid-container">
      <div class="label">&times;</div>
      <% @game.column_values.each do |value| %>
      <div class="label"><%=value%></div>
      <% end%>
      <% @game.row_values.each do |rowVal| %>
        <div class="label"><%=rowVal%></div>
        <% @game.column_values.each do |colVal| %>
          <input class="answer" data-row="<%=rowVal%>" data-col="<%=colVal%>" type="text">
        <% end%>
      <% end%>
    </div>

    <div class="highscores">
      <h1>Highscores</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Game Time</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @game.filter_highscore_events.each do |highscore| %>
            <tr class="highscore_row">
              <td><%= Player.find(highscore.player_id).name %></td>
              <td><%= "%02d:%02d" % [highscore.game_time / 60 % 60, highscore.game_time % 60] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
