<section class="game">
  <div class="header">
    <h1>Mad Minute Math</h1>
    <p>Hello <strong><%=@game.player_name%></strong>, I built this Math game for you :)</p>
    <div class="button-menu">
      <%= button_to "New User", root_path, method: :get%>
      <%= button_to "Restart", @game, method: :get%>
      <%= form_with model: @game, method: :post, url: games_path, local: true do |form| %>
        <%= form.hidden_field :player_name, value: @game.player_name %>
        <%= form.hidden_field :game_type, value: @game.game_type %>
      <p>
        <%= form.submit "Start New Game" %>
      </p>
      <% end %>
    </div>
  </div>

  <div class="content">
    <div class="grid-container">
      <div class="label">X</div>
      <% @game.column_values.each do |value| %>
      <div class="label"><%=value%></div>
      <% end%>
      <% @game.row_values.each do |rowVal| %>
        <div class="label"><%=rowVal%></div>
        <% @game.column_values.each do |colVal| %>
          <input data-row=<%=rowVal%> data-col=<%=colVal%> class="answer" type="text">
        <% end%>
      <% end%>
    </div>
  </div>
</section>
